{% extends 'base.html' %}

{% block title %}
User List
{% endblock %}

{% block content %}
<h2 class="mt-5">User List</h2>
<table class="table mt-3">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Education</th>
            <th>Profession</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.education }}</td>
            <td>{{ user.profession }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
